<template name="index">
    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">มูลฝอยติดเชื้อ</a>
        </div>
    </nav>
    <div style="padding:0px">
        <div class="index">
            <br>
            <div class="row">
                <div class="card-panel z-depth-1 col s6"
                    style="border-radius: 15px;cursor: pointer;margin: 5px 0px 5px 0px;" id="pickup">
                    <center>
                        <!-- <a href="/pickup" style="color: black;"> -->
                        <img src="./icon/vehicle.png" style="width: 65px;"><br>
                        <section style="height: 5px;"></section>
                        <b>รถเก็บขน</b>
                        <!-- </a> -->
                    </center>
                </div>
                <div class="card-panel z-depth-1 col s6"
                    style="border-radius: 15px;cursor: pointer;margin: 5px 0px 5px 0px;" id="transfer">
                    <center>
                        <img src="./icon/transfer.png" style="width: 65px;"><br>
                        <section style="height: 5px;"></section>
                        <b>เปลี่ยนถ่าย</b>
                    </center>
                </div>
                <div class="card-panel z-depth-1 col s6"
                    style="border-radius: 15px;cursor: pointer;margin: 5px 0px 5px 0px;" id="factory">
                    <center>
                        <img src="./icon/factory.png" style="width: 65px;"><br>
                        <section style="height: 5px;"></section>
                        <b>โรงกำจัด</b>
                    </center>
                </div>
                <div class="card-panel z-depth-1 col s6"
                    style="border-radius: 15px;cursor: pointer;margin: 5px 0px 5px 0px;" id="nfc">
                    <center>
                        <img src="./icon/nfc.png" style="width: 65px;"><br>
                        <section style="height: 5px;"></section>
                        <b>ตรวจสอบ TAG</b>
                    </center>
                </div>
            </div>
            
                <div class="row">
                    <div class="col s12"><div class="footer">
                        <center>
                            <i> เวอร์ชั่น : {{version}} </i>
                            <br>
                            <div style="font-size: 8px;">
                                Icons made by <a href="https://www.flaticon.com/authors/vectors-market"
                                    title="Vectors Market" style="font-size: 8px;">Vectors Market</a> from <a
                                    href="https://www.flaticon.com/" title="Flaticon" style="font-size: 8px;">
                                    www.flaticon.com</a>

                            </div> 
                        </center>
                    </div>

                   
                </div>

            </div>

        </div>
    </div>
</template>