* {
  font-size: 16px;
}

.footer{
  position: fixed;
  left: 50%;
  width: 300px;
  padding-bottom: -30px;
  transform: translate(-50%, -50%);
  bottom: 0px;
}
.index .row .col.s6 {
  width: 45%;
  margin: 5px 0px 10px 14px !important;
}

.index .card-panel {
  padding: 13px !important;
}

.input-field > label {
    color: #000 !important;
    font-weight: bold;
}
input{
  font-size: 20px !important;
}

.card-panel {
  padding: 10px !important;
}
.img_close {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

tr,
th {
  padding: 0px;
}

.loading {
  position: absolute;
  top: 45%;
  left: 42%;
}


.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}


.lds-ellipsisw {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsisw div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(211, 212, 216);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsisw div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsisw div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsisw div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsisw div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


.pickup
  .collection .collection-item {
      background-color: #fff;
      line-height: 1.5rem;
      padding: 0px  0px 0px 0px;
      margin: 0;
      border-bottom: 1px solid #e0e0e0;
  }
  .row {
    margin-bottom: 0px !important;
}
