<template name="nfc">
    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="/" class="left">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left"
                    style="font-size: 22px;"></i></a>
            <center>
                <b style="font-size: 20px;color: white;">อ่าน TAG</b>
            </center>
            <a class="right">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
    </nav>
    <div class="container">
        <div class="nfc">
            <br>
            <center>
                <b>แตะบัตรด้านหลังเครื่อง</b>
                <section style="height: 10px;"></section>
                <img src="/icon/nfc.png" style="width: 80px;">
            </center>
            <br>
            <br>
            <div class="nfc">
                <center>
                    <div style="font-size: 40px;font-weight: bold;">{{readtag}}</div>

                    {{#if readtag}}
                    <div style="font-size: 20px;">
                        {{#if showB}}
                        {{showB.car_id}} <br>
                        {{showB.company_name}}
                        {{/if}}

                        {{#if showA}}
                        {{showA.prename}}{{showA.firstname}} {{showA.lastname}}<br>
                        {{showA.company_name}}
                        {{/if}}
                        {{#if showC}}
                        {{showC}}<br><br>
                        {{/if}}
                    </div>
                    <br>
                    <a id="clear" class="btn">ล้าง</a>
                    {{else}}

                    {{/if}}

                </center>
            </div>
        </div>

    </div>

</template>