<template name="factory">
    <div class="navbar-fixed">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a href="/" class="left">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left"
                        style="font-size: 22px;"></i></a>
                <center>
                    <b style="font-size: 20px;color: white;">กำจัดมูลฝอย</b>
                </center>
                <a class="right">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="factory">
            <table style="height: 100%;">
                <tr>
                    <td style="width: 100px;">
                        <b>โรงกำจัด</b>
                        <img src="/icon/boss.png" alt="" style="width: 100px;"
                            class="{{#if factory}}{{else}}img_close{{/if}} darken-2+">
                    </td>
                    <td>
                        {{#if factory}}
                        <a class="right" id="clearfactory" style="display: block;padding:  5px 0px 20px 20px;"><i class="fas fa-times-circle"
                                style="color: red;font-size: 20px;"></i></a>
                        <b>{{factory.prename}}{{factory.firstname}} {{factory.lastname}}</b><br>
                        {{factory.company_name}}
                        {{else}}
                        กรุณาแตะบัตรด้านหลังเครื่อง
                        {{/if}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <b>รถเก็บขน</b>
                        <img src="/icon/vehicle.png" alt="" style="width: 100px;"
                            class="{{#if carcoming}}{{else}}img_close{{/if}} darken-2+">
                    </td>
                    <td>
                        {{#if carcoming}}
                        <a class="right" id="clearcarcoming"><i class="fas fa-times-circle"
                                style="color: red;font-size: 20px;"></i></a>
                        <b>{{carcoming.car_id}} </b><br>
                        {{carcoming.company_name}} <br>
                        น้ำหนักมูลฝอยติดเชื้อ <b>{{getCommaSeparatedTwoDecimalsNumber sum_weight}} กก.</b>
                        {{else}}
                        กรุณาแตะบัตรด้านหลังเครื่อง
                        {{/if}}
                    </td>
                </tr>
            </table>
            {{#if checkstate}}
            <button class="btn btn-large waves-effect waves-light" id="confirm" style="width: 100%;"><b>เชื่อมต่อเครื่องชั่ง</b></button> <br> <br>
            <button class="btn btn-large waves-effect waves-light blue darken-3" id="confirm2"
                style="width: 100%;"><b>ป้อนน้ำหนักด้วยมือ</b></button>
            {{/if}}
        </div>
    </div>
</template>