<template name="factoryweighkeyin">
    <div class="navbar-fixed">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a href="/factory" class="left">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left"
                        style="font-size: 22px;"></i></a>
                <center>
                    <b style="font-size: 20px;color: white;">กำจัดมูลฝอย</b>
                </center>
                <a class="right">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="factoryweighkeyin">
            <br>
            <!-- {{#if persen}}
            <div class="row">
                <section style="height: 15px;"></section>
                <b style="font-size: 20px;color: black;">น้ำหนักที่บรรทุก </b><b style="font-size: 20px;color: blue;"
                    class="right"> {{getCommaSeparatedTwoDecimalsNumber sum_weight}} กก.</b><br>
                <b style="font-size: 20px;color: black;">น้ำหนักสุทธิ ณ โรงกำจัด </b><b
                    style="font-size: 20px;color: blue;" class="right">
                    {{getCommaSeparatedTwoDecimalsNumber weight_fac}} กก.</b><br>
                <b style="font-size: 20px;color: black;">เทียบต่าง</b> <b style="font-size: 20px;color:blue;"
                    class="right">
                    {{getCommaSeparatedTwoDecimalsNumber persen}}%</b><br>
                <section style="height: 10px;"></section>
            </div>
            <div class="row">
                <div class="col s12">
                    <input type="file" id="imgupload" style="display:none" />
                    <button class="btn btn-large waves-effect waves-light blue darken-3" id="uploadpic" style="width: 100%;"><b><i
                                class="fas fa-camera"></i> ถ่ายภาพยืนยัน</b></button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col s12">
                    <a class="btn btn-large waves-effect waves-light gray" href="/factory"
                        style="width: 100%;"><b>ยกเลิก</b></a>
                </div>
            </div>

            {{else}} -->
            <b>น้ำหนักที่บรรทุก</b>
            <section style="height: 5px;"></section>
            <div class="row">
                <div class="col s3">
                    <img src="/icon/vehicle.png" alt="" style="width: 50px;"
                        class="{{#if carcoming}}{{else}}img_close{{/if}} darken-2+">
                </div>
                <div class="col s9">
                    {{#if carcoming}}
                    <b>{{carcoming.car_id}} </b><br>
                    {{carcoming.company_name}} <br>
                    น้ำหนัก <b>{{getCommaSeparatedTwoDecimalsNumber sum_weight}} กก.</b>
                    {{/if}}
                </div>
            </div>
            <hr>
            <b>ป้อนน้ำหนักที่ขึ้นชั่ง <u>รถเข้า</u></b>
            <div class="row">
                <div class="col s3">
                    <img src="/icon/weight.png" alt="" id="pic1" style="width: 50px;" class=" darken-2+ materialboxed ">
                </div>
                <div class="col s9">
                    <div class="row">
                        {{#if saveone}}
                        <br>
                        <center>
                            <b style="font-size: 20px;">{{getCommaSeparatedTwoDecimalsNumber saveone}}</b>
                        </center>
                        
                        {{else}}
                        <div class="input-field col s12">
                            <input placeholder="น้ำหนัก" id="weight_fac1" type="number" class="validate">
                        </div>
                        {{/if}}

                    </div>
                </div>
                <div class="col s12">
                    <button class="btn btn-large waves-effect waves-light blue darken-3 {{#if confirm1}}disabled{{/if}}"
                        id="confirm1" style="width: 100%;"><b><i class="fas fa-camera"></i> ถ่ายภาพยืนยัน</b></button>
                </div>
            </div>
            
            <hr>
            {{#if confirm1}}
            <b>ป้อนน้ำหนักที่ขึ้นชั่ง <u>รถออก</u></b>
            {{/if}}
            <div class="row">
                <div class="col s3">
                    <img src="/icon/weight.png" alt="" id="pic2" style="width: 50px;" class=" darken-2+ materialboxed">
                </div>
                <div class="col s9">
                    <div class="row">
                        {{#if savetwo}}
                        <br>
                        <center>
                            <b style="font-size: 20px;">{{getCommaSeparatedTwoDecimalsNumber savetwo}}</b>
                        </center>
                        
                        {{else}}
                        {{#if confirm1}}
                        <div class="input-field col s12">
                            <input placeholder="น้ำหนัก" id="weight_fac2" type="number" class="validate">
                        </div>
                        {{/if}}
                        {{/if}}

                    </div>
                </div>
                {{#if confirm1}}
                <div class="col s12">
                    <button class="btn btn-large waves-effect waves-light blue darken-3 {{#if confirm2}}disabled{{/if}}"
                        id="confirm2" style="width: 100%;"><b><i class="fas fa-camera"></i> ถ่ายภาพยืนยัน</b></button>
                </div>
                {{/if}}
            </div>
            
            <hr>
            <!-- {{/if}} -->
            {{#if confirm2}}
            <div class="row">
                <section style="height: 15px;"></section>
                <b style="font-size: 18px;color: black;">น้ำหนักที่บรรทุก </b><b style="font-size: 18px;color: blue;"
                    class="right"> {{getCommaSeparatedTwoDecimalsNumber sum_weight}} กก.</b><br>
                <b style="font-size: 18px;color: black;">น้ำหนักสุทธิ ณ โรงกำจัด </b><b
                    style="font-size: 18px;color: blue;" class="right">
                    {{getCommaSeparatedTwoDecimalsNumber weight_fac}} กก.</b><br>
                <b style="font-size: 18px;color: black;">เทียบต่าง</b> <b style="font-size: 18px;color:blue;"
                    class="right">
                    {{getCommaSeparatedTwoDecimalsNumber persen}}%</b><br>
                <section style="height: 10px;"></section>
                <button class="btn btn-large waves-effect waves-light blue darken-3" id="confirm3"
                    style="width: 100%;font-size: 18px;font-weight: bold;"><b>ยืนยัน</b></button>
                <button class="btn waves-effect waves-light btn-large orange"
                    style="width: 100%;font-size: 18px;font-weight: bold;" id="cancel">ยกเลิก</button>
                    <br><br>
            </div>

            {{/if}}
        </div>
    </div>

</template>