<template name="factoryweigh">
    <div class="navbar-fixed">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a class="left" id="back">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left"
                        style="font-size: 22px;"></i></a>
                <center>
                    <b style="font-size: 20px;color: white;">กำจัดมูลฝอย</b>
                </center>
                <a class="right">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="factoryweigh">
            <br>
            <div class="listdevices">
                {{#if listdevice}}
                <b>อุปกรณ์ที่เชื่อมต่อ</b>

                <div class="collection">
                    {{#each listdevice}}
                    <a href="#!" class="collection-item" id="selectdevice">
                        <b><i class="fab fa-bluetooth"></i> {{name}}</b><br>
                        &nbsp;&nbsp;&nbsp;<i style="font-size:10px"> Address : {{address}}</i>
                    </a>
                    {{/each}}
                </div> <br>
                {{/if}}



                <b>ค้นหาอุปกรณ์</b>
                <button class="btn right {{#if findwait}}disabled{{else}}{{/if}}" id="find">ค้นหา</button>

                <br><br>
                {{#if findwait}}
                <center>
                    <section style="height: 50px;"></section>
                    <!-- <div class="loading"> -->
                    <div class="lds-ellipsisw">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <!-- </div> -->
                </center>
                {{else}}
                {{#if find}}
                <div class="collection">
                    {{#each find}}
                    <a href="#!" class="collection-item" id="selectfind">
                        <b><i class="fab fa-bluetooth"></i> {{name}}</b><br>
                        &nbsp;&nbsp;&nbsp;<i style="font-size:10px"> Address : {{address}}</i>
                    </a>
                    {{/each}}
                </div>
                {{/if}}

                {{/if}}

            </div>
            <br>
            {{#if bleSerial}}
            <div class="row">
                <div class="col s3">
                    <img src="/icon/vehicle.png" alt="" style="width: 50px;"
                        class="{{#if carcoming}}{{else}}img_close{{/if}} darken-2+">
                </div>
                <div class="col s9">
                    {{#if carcoming}}
                    <b>{{carcoming.car_id}} </b><br>
                    {{carcoming.company_name}} <br>
                    น้ำหนัก <b>{{getCommaSeparatedTwoDecimalsNumber sum_weight}} กก.</b>
                    {{/if}}
                </div>

            </div>
            <hr>
            <div class="row">
                <section style="height: 5px;"></section>
                <div class="col s3">
                    <img src="/icon/weight.png" alt="" style="width: 50px;" class="darken-2+">
                </div>
                <div class="col s9">
                    <b>น้ำหนักที่ชั่งได้</b><br>
                    <b style="font-size: 25px;color: green;">{{getCommaSeparatedTwoDecimalsNumber bleSerial}} กก.</b>
                </div>
                <!-- <b style="font-size: 25px;color: black;">น้ำหนักที่ชั่งได้</b>
            <b style="font-size: 25px;color: blue;">{{bleSerial}} </b>
            <b style="font-size: 25px;color: black;">กก.</b><br> -->
            </div>
            <hr>
            <div class="row">
                <section style="height: 5px;"></section>
                <a class="waves-effect waves-light btn-large {{#if saveone}}grey disabled{{else}}orange darken-3{{/if}}  "
                    style="width: 100%;" id="saveone"><b>บันทึกน้ำหนักรถเข้า</b></a>
                <br>
                {{#if saveone}}
                <section style="height: 10px;"></section>
                <b>น้ำหนักรถเข้า : {{#if saveone}} {{saveone}} กก. {{/if}}</b>


                <section style="height: 10px;"></section>
                <a class="waves-effect waves-light btn-large  {{#if savetwo}}grey disabled{{else}}orange darken-3{{/if}}"
                    style="width: 100%;" id="savetwo"><b>บันทึกน้ำหนักรถออก</b></a>
                <br>
                <section style="height: 10px;"></section>
                {{#if savetwo}} <b>น้ำหนักรถออก : {{savetwo}} กก. </b>{{/if}}

                {{/if}}
            </div>
            <!-- </div> -->
            {{#if total}}
            <hr>
            <section style="height: 5px;"></section>
            <b style="font-size: 20px;color: black;">น้ำหนักสุทธิ ณ โรงกำจัด </b><b style="font-size: 20px;color: blue;"
                class="right"> {{getCommaSeparatedTwoDecimalsNumber total}} กก.</b><br>
            <b style="font-size: 20px;color: black;">น้ำหนักที่บรรทุก </b><b style="font-size: 20px;color: blue;"
                class="right"> {{getCommaSeparatedTwoDecimalsNumber sum_weight}} กก.</b><br>
            <b style="font-size: 20px;color: black;">เทียบต่าง</b> <b style="font-size: 20px;color:blue;" class="right">
                {{getCommaSeparatedTwoDecimalsNumber persen}}%</b><br>
            <section style="height: 10px;"></section>
            <button class="btn btn-large waves-effect waves-light green darken-3" id="confirm"
                style="width: 100%;"><b>ยืนยัน
                </b></button>
            {{/if}}
            {{else}}
            <!-- <center>

            รอสักครู่ กำลังเชื่อมต่อเครื่องชั่ง <br>
            <i class="fas fa-spinner fa-spin"></i>
            <br>
            <a href="/factory" class="btn">ยกเลิก</a>
        </center> -->
            {{/if}}





        </div>
    </div>
</template>