<template name="pickupsummary">
    <div class="navbar-fixed">
    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="/weigh" class="left">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left"
                    style="font-size: 22px;"></i></a>
            <center>
                <b style="font-size: 20px;color: white;">สรุปข้อมูลการเก็บขน</b>
            </center>
            <a class="right">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
    </nav>
</div>
    <div class="pickupsummary">
        <div class="container">
            <div class="card-panel z-depth-2">
                <center>
                    <p style="font-size: 20px;">น้ำหนักรวม <b style="font-size: 25px;color: green;">
                            {{chzero wasetotal}} </b> กก.</p>
                </center>
                <input style="display: none" id="copy" value="">
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">

                            <div class="col s3">
                                <br>
                                <img src="/icon/vehicle.png" alt="" style="width: 60px;">
                            </div>
                            <div class="col s9">
                                <section style="height: 10px;"></section>
                                <b>รถเก็บขน</b> <br>
                                {{#if car}}
                                {{car.car_id}} <br>
                                {{car.company_name}}
                                {{else}}
                                -
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">

                            <div class="col s3">
                                <br>
                                <img src="/icon/taxi-driver.png" alt="" style="width: 60px;">
                            </div>
                            <div class="col s9">
                                <section style="height: 10px;"></section>
                                <b>พนักงานขับรถ</b> <br>
                                {{#if cardriver}}
                                {{cardriver.prename}}{{cardriver.firstname}} {{cardriver.lastname}}<br>
                                {{cardriver.company_name}}
                                {{else}}
                                -
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">

                            <div class="col s3">
                                <br>
                                <img src="/icon/boy.png" alt="" style="width: 60px;">
                            </div>
                            <div class="col s9">
                                <section style="height: 10px;"></section>
                                <b>พนักงานเก็บขน</b> <br>
                                {{#if pickupman}}
                                {{pickupman.prename}}{{pickupman.firstname}} {{pickupman.lastname}}<br>
                                {{pickupman.company_name}}
                                {{else}}
                                -
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">

                            <div class="col s3">
                                <br>
                                <img src="/icon/physician.png" alt="" style="width: 60px;">
                            </div>
                            <div class="col s9">
                                <section style="height: 10px;"></section>
                                <b>เจ้าหน้าที่โรงพยาล</b> <br>
                                {{#if hospman}}
                                {{hospman.prename}}{{hospman.firstname}} {{hospman.lastname}}<br>
                                {{hospman.company_name}}
                                {{else}}
                                -
                                {{/if}}
                            </div>
                        </div>
                    </li>
                </ul>

                <button class="btn waves-effect waves-light btn-large green"
                    style="width: 100%;font-size: 20px;font-weight: bold;" id="send">ส่งข้อมูล</button><br>
                <section style="height: 5px;"></section>
                <button class="btn waves-effect waves-light btn-large orange"
                    style="width: 100%;font-size: 20px;font-weight: bold;" id="cancel">ยกเลิก</button>
            </div>
        </div>
    </div>
</template>