<template name="pickup">
    <div class="navbar-fixed">
    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="/" class="left">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left"
                    style="font-size: 22px;"></i></a>
            <center>
                <b style="font-size: 20px;color: white;">การเก็บขน</b>
            </center>
            <a class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
    </nav>
    </div>
    <div class="pickup">
        <div class="container">
            <div class="card-panel z-depth-2">
                <center>
                    <b>แตะบัตรด้านหลังเครื่องให้ครบ 4 คน </b>
                    <section style="height: 10px;"></section>
                    <img src="/icon/nfc.png" style="width: 70px;">
                </center>
                <section style="height: 10px;"></section>
                <ul class="collection">
                    <li class="collection-item">
                        <div class="row">
                            <a href="#!" class="right" style="right: 10px;position: absolute;display: block;padding:  5px 0px 20px 20px;" id="clearcar"><i class="fas fa-times"
                                    style="color: red;font-size: 22px;"></i></a>

                            <div class="col s3">
                                <br>
                                <img src="/icon/vehicle.png" alt="" style="width: 60px;">
                            </div>
                            <div class="col s9">
                                <section style="height: 10px;"></section>
                                <b>รถเก็บขน</b> <br>
                                {{#if car}}
                                {{car.car_id}} <br>
                                {{car.company_name}}
                                {{else}}
                                -
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <a href="#!" class="right" style="right: 10px;position: absolute;display: block;padding:  5px 0px 20px 20px;" id="clearcardriver"><i class="fas fa-times"
                                    style="color: red;font-size: 22px;"></i></a>

                            <div class="col s3">
                                <br>
                                <img src="/icon/taxi-driver.png" alt="" style="width: 60px;">
                            </div>
                            <div class="col s9">
                                <section style="height: 10px;"></section>
                                <b>พนักงานขับรถ</b> <br>
                                {{#if cardriver}}
                                {{cardriver.prename}}{{cardriver.firstname}} {{cardriver.lastname}}<br>
                                {{cardriver.company_name}}
                                {{else}}
                                -
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <a href="#!" class="right" style="right: 10px;position: absolute;display: block;padding:  5px 0px 20px 20px;" id="clearpickupman"><i class="fas fa-times"
                                    style="color: red;font-size: 22px;"></i></a>

                            <div class="col s3">
                                <br>
                                <img src="/icon/boy.png" alt="" style="width: 60px;">
                            </div>
                            <div class="col s9">
                                <section style="height: 10px;"></section>
                                <b>พนักงานเก็บขน</b> <br>
                                {{#if pickupman}}
                                {{pickupman.prename}}{{pickupman.firstname}} {{pickupman.lastname}}<br>
                                {{pickupman.company_name}}
                                {{else}}
                                -
                                {{/if}}
                            </div>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div class="row">
                            <a href="#!" class="right" style="right: 10px;position: absolute;display: block;padding:  5px 0px 20px 20px;" id="clearhospman"><i class="fas fa-times"
                                    style="color: red;font-size: 22px;"></i></a>

                            <div class="col s3">
                                <br>
                                <img src="/icon/physician.png" alt="" style="width: 60px;">
                            </div>
                            <div class="col s9">
                                <section style="height: 10px;"></section>
                                <b>เจ้าหน้าที่โรงพยาล</b> <br>
                                {{#if hospman}}
                                {{hospman.prename}}{{hospman.firstname}} {{hospman.lastname}}<br>
                                {{hospman.company_name}}
                                {{else}}
                                -
                                {{/if}}
                            </div>
                        </div>
                    </li>
                </ul>


                {{#if next}}
                <button class="btn btn-large" style="width: 100%;font-size: 20px;font-weight: bold;"
                    id="start">เริ่มชั่ง</button>
                {{/if}}
            </div>

        </div>
        <!-- <div class="container">
        <div class="card-panel z-depth-2">
            <button class="btn waves-light btn-large" id="scan"
                style="width: 100%;font-size: 18px;font-weight: bold;">แสกน</button>
            <center>
                <p id="wait" style="font-size: 20px;">รอสักครู่ ... <i class="fas fa-circle-notch fa-spin"></i></p>
            </center>

            {{#if bleListDevices}}
            <br>
            <b>เลือกรายการบลูทูธเพื่อเชื่อมต่อเครื่องชั่ง</b>

            <div class="collection">
                {{#each bleListDevices}}
                <a href="#" class="collection-item" id="selectble"><b style="font-size: 18px;">{{name}}</b> <br> <i
                        style="font-size: 14px;">{{address}}</i></a>
                {{/each}}
            </div>
            {{/if}}
        </div>

    </div>
    {{#if bleSerial}}
    <center>
        <b style="font-size: 30px;color: blue;">น้ำหนักที่ชั่งได้</b><br>
        <b style="font-size: 30px;color: red;">{{bleSerial}}</b><br>
        <b style="font-size: 30px;color: blue;">กิโลกรัม</b>
    </center>
    {{/if}} -->
    </div>
</template>