<template name="weigh">
    <div class="navbar-fixed">
        <nav class="blue darken-1">
            <div class="nav-wrapper">
                <a href="/pickup" class="left">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left"
                        style="font-size: 22px;"></i></a>
                <center>
                    <b style="font-size: 20px;color: white;">เชื่อมต่อเครื่องชั่ง</b>
                </center>
                <a class="right">&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </nav>
    </div>
    <div class="weigh">
        <div class="container">
            <div class="card-panel z-depth-2">
                {{#if bleSerial}}
                {{else}}
                <center><img src="/icon/weightwireless.png" alt="" style="width: 60px;"></center>
                {{/if}}

                <div class="listdevices">
                    {{#if listdevice}}
                    <b>อุปกรณ์ที่เชื่อมต่อ</b>

                    <div class="collection">
                        {{#each listdevice}}
                        <a href="#!" class="collection-item">
                            <b>
                                <a href="#!" class="right" style="right: 10px;position: absolute;">
                                    <i class="fas fa-times" style="color: red;font-size: 22px;" id="cleardevice"></i>
                                </a>


                                <div id="selectdevice">
                                    <i class="fab fa-bluetooth"></i>
                                    {{name}}
                                    <br>&nbsp;&nbsp;&nbsp;<i style="font-size:10px"> Address : {{address}}</i>
                                </div>
                            </b>
                        </a>
                        {{/each}}
                    </div>
                    <br>
                    {{/if}}



                    <b>ค้นหาอุปกรณ์</b>
                    <button class="btn right {{#if findwait}}disabled{{else}}{{/if}}" id="find">ค้นหา</button>

                    <br><br>
                    {{#if findwait}}
                    <center>
                        <section style="height: 50px;"></section>
                        <!-- <div class="loading"> -->
                        <div class="lds-ellipsisw">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <!-- </div> -->
                    </center>
                    {{else}}
                    {{#if find}}
                    <div class="collection">
                        {{#each find}}
                        <a href="#!" class="collection-item" id="selectfind">
                            <b><i class="fab fa-bluetooth"></i> {{name}}</b><br>
                            &nbsp;&nbsp;&nbsp;<i style="font-size:10px"> Address : {{address}}</i>
                        </a>
                        {{/each}}
                    </div>
                    {{/if}}

                    {{/if}}

                </div>
                <!-- <div id="wait">

                <center>

                    รอสักครู่ กำลังเชื่อมต่อเครื่องชั่ง <br>
                    <i class="fas fa-spinner fa-spin"></i>
                    <br>
                    <a href="/pickup" class="btn">ยกเลิก</a>
                </center>
            </div> -->
                <div>

                    {{#if bleSerial}}
                    <center>
                        <div class="row">
                            <center>
                                <b style="font-size: 22px;">ประเภท</b>
                            </center>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <div class="card-panel  col s6  {{dis1}}"
                                    style="border-radius: 10px;cursor: pointer;margin: 1px 0px 2px 0px;" id="dis1">
                                    <center><img src="./icon/bagbin.png" style="width: 50px;"><br><b>ถุง</b></center>
                                </div>
                                <div class="card-panel  col s6  {{dis2}}"
                                    style="border-radius: 10px;cursor: pointer;margin: 1px 0px 2px 0px;" id="dis2">
                                    <center><img src="./icon/bin.png" style="width: 50px;"><br><b>ถัง 240 ลิตร</b>
                                    </center>
                                </div>
                                <!-- <div class="card-panel  col s6  {{dis3}}"
                                    style="border-radius: 10px;cursor: pointer;margin: 1px 0px 2px 0px;" id="dis3">
                                    <center><img src="./icon/trash.png" style="width: 50px;"><br><b>ถัง 60 ลิตร</b>
                                    </center>
                                </div> -->
                                <div class="card-panel  col s12  {{dis4}}"
                                    style="border-radius: 10px;cursor: pointer;margin: 1px 0px 2px 0px;" id="dis4">
                                    <section style="height: 10px;"></section>
                                    <div class="col s4">
                                        <center><img src="./icon/trash2.png" style="width: 70px;margin-top:-10px;margin-left:-20px"></center>
                                    </div>
                                    <div class="input-field col s8  {{dis4}}">
                                        <input placeholder="กก." id="man_wei" type="number" style="margin:0px">
                                        <label for="man_wei" class="active">กำหนดเอง (กก.)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col s12">
                                <a class="waves-effect btn-large waves-light  col s6 {{dis1}}  light-blue darken-3" id="dis1" style="font-size: 22px;"><b>ถุง</b></a>
                                <a class="waves-effect btn-large waves-light  col s6 {{dis2}}  light-blue darken-3" id="dis2" style="font-size: 22px;"><b>ถังมาตรฐาน</b></a>
                            </div>
                            <div class="col s12">
                                <a class="waves-effect btn-large waves-light  col s6 {{dis3}}  light-blue darken-3" id="dis3" style="font-size: 22px;"><b>กำหนดเอง</b></a>
                                <div class="input-field col s6">
                                    <input placeholder="" id="man_wei" type="number" class="validate">
                                  </div>
                            </div>
                        </div> -->
                        <hr>
                        <div class="row">
                            <div class="col s3">
                                <img src="/icon/weightwireless.png" alt="" style="width: 90px;">
                            </div>
                            <div class="col s9">
                                <br>
                                <b style="font-size: 25px;color: black;">น้ำหนักที่ชั่งได้</b><br>
                                <b style="font-size: 30px;color: blue;">{{bleSerial}} กก.</b>
                            </div>

                        </div>
                        <a class="waves-effect waves-light btn-large  pink darken-2" style="width: 100%;" id="add"><i
                                class="fas fa-plus" style="color: white;font-size: 30px;padding-top: 8px;"></i></a>
                        <section style="height: 10px;"></section>
                        <!-- </div> -->

                    </center>
                    {{#if waste}}
                    <ul class="collection with-header">
                        <li class="collection-header blue lighten-5">
                            <b>รายการ</b>
                        </li>
                        {{#each waste}}
                        <li class="collection-item">
                            <div>{{addonee @index}}. {{chzero wasteweigh}} กก.<a href="#!" class="secondary-content"><i
                                        class="fas fa-times" style="color: red;font-size: 22px;" id="clear"></i></a>
                            </div>
                        </li>
                        {{/each}}
                        <!-- <li class="collection-item">
                            <section style="height: 10px;"></section>
                            <div><b style="color: green;font-size: 25px;">{{bleSerial}}</b><a href="#!" class="secondary-content"><i class="fas fa-plus-circle" style="color: green;font-size: 22px;"
                                id="clear"></i></a>
                            </div>
                            <section style="height: 10px;"></section>
                        </li> -->
                    </ul>
                    {{/if}}
                    {{/if}}


                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    {{#if waste}}
    <div class=" z-depth-2"
        style="width: 100%;background-color: whitesmoke;position: fixed;bottom: 0px;height: 70px;border: 1px solid;">
        <div style="padding: 10px;">

            <button class="btn right btn-large orange darken-4" id="sumary"><b>ยืนยันน้ำหนัก</b></button>
        </div>
        <div style="padding-left: 30px;">

            รวม <b style="font-size: 25px;padding-top: 5px;"> {{chzero wasetotal}} </b> กก.
        </div>


    </div>
    {{/if}}
</template>