<template name="transfer">
    <div class="navbar-fixed">
    <nav class="blue darken-1">

        <div class="nav-wrapper">
           <a href="/" class="left">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-left" style="font-size: 22px;"></i></a>
            <center>
                <b style="font-size: 20px;color: white;">เคลื่อนย้ายมูลฝอย</b>
            </center>
            <a class="right">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
    </nav>
    </div>
    <div>
        <br>
        <center>
            <i>กรุณาแตะบัตรรถให้ครบทั้งสองคัน</i>
        </center>
    </div>
    <div class="" id="two">
        <section style="height: 20px;"></section>
        <div class="row">
            <div class="col s5">
                <center>
                    {{#if carone}}<a class="right" id="clearcarone"><i class="fas fa-times-circle"
                            style="color: red;font-size: 20px;"></i></a>{{else}}<a
                        class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>{{/if}}

                    <img src="/icon/vehicle.png" width="80px" class="{{#if carone}}{{else}}img_close{{/if}}"><br>
                    {{#if carone}}
                    <b>{{carone.name}}</b> <br> {{carone.company}} <br>
                    <b> รวม {{getCommaSeparatedTwoDecimalsNumber sum_weight}} กก.</b>
                    {{else}}
                    <br> <br>
                    {{/if}}

                </center>
            </div>
            <div class="col s2">
                <center>
                    <br>
                    {{#if checkstate}}
                    <img src="/icon/right.png" width="50px">
                    {{else}}
                    <img src="/icon/right.png" class="img_close" width="50px">
                    {{/if}}
                </center>
            </div>
            <div class="col s5">
                <center>
                    {{#if cartwo}}<a class="right" id="clearcartwo"><i class="fas fa-times-circle"
                            style="color: red;font-size: 20px;"></i></a>{{else}}<a
                        class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>{{/if}}

                    <img src="/icon/vehicle.png" width="80px" class="{{#if cartwo}}{{else}}img_close{{/if}}"><br>
                    {{#if cartwo}}
                    <b>{{cartwo.name}}</b> <br> {{cartwo.company}}
                    {{else}}
                    <br> <br>
                    {{/if}}
                </center>
            </div>
        </div>
        {{#if carone}}
        <div class="container">
            {{#if checkstate}}

            <button class="btn btn-large waves-effect waves-light  pink darken-1" id="confirm" style="width: 100%;"><b style="font-size: 22px;"> ยืนยัน
                </b></button>
            {{/if}}
            <br>
            <br>
            <center>
                <b>รายละเอียด</b>
            </center>

            <div class="row">
                <table class="striped highlight" style="border: 2px solid;">
                    <thead>
                        <tr class="" style="border: 2px solid;">
                            <th style="width: 20px;"></th>
                            <th>สถานบริการ</th>
                            <th style="width: 120px;" class="right-align">น้ำหนัก(กก.)</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each caronelist}}
                        <tr style="padding-top: 2px;">
                            <td style="vertical-align: text-top"><b>{{addone @index}}</b></td>
                            <td><b> {{NAME}}</b><br>
                                <i style="font-size: 14px;">เมื่อ {{DateTime walkin_date}}.</i> </td>
                            <td class="right-align">{{getCommaSeparatedTwoDecimalsNumber walkout_weight}}</td>
                        </tr>
                        {{/each}}
                        <tr style="border: 2px solid;">
                            <td></td>
                            <td><b>รวม</b></td>
                            <td class="right-align"><b>{{getCommaSeparatedTwoDecimalsNumber sum_weight}}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <br><br>
        </div>
        {{/if}}


    </div>
</template>